header {
  background-color: rgb(5, 128, 60);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 0;
  border-radius: 0.5rem;
  font-size: larger;
  gap: 20px;
}

#table{
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  /* border-collapse: collapse; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid rgb(51, 51, 47);
  border-left: 1px solid rgb(51, 51, 47);
}

th {
  padding: 12px;
}

td {
  padding: 10px;
  text-align: center;
  border-right: 1px solid rgb(51, 51, 47);
}

#table thead th {
  background-color: rgb(5, 128, 60);
  color: white;
  text-align: center;
}

#table tfoot th {
  background-color: rgb(5, 128, 60);
  color: white;
  text-align: center;
}

tr:hover {
  background-color: rgba(5, 128, 60, 0.5);

}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(232, 169, 169);
  transform: scale(0.75);
  border-radius: 8px;
}

footer {
  background-color:  rgb(5, 128, 60);
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

footer ul li {
  margin-right: 10px;
  text-decoration: none;

}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li:before {
  margin-right: 5px;
}

footer p {
  margin-top: 10px;
}